.github
.gitee
logs
pom.xml
pom.xml.asc
lombok.config

# Gradle #
.gradle
build
gradle-app.setting
.gradletasknamecache

# Maven #
target

# windows #
Thumbs.db

# Mac #
.DS_Store

# Eclipse
.project
.classpath
.settings
out
.log
*.class

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
classes

# Package Files #
*.jar
*.war
*.ear
