name: Build
on:
  push:
    branches: main
  pull_request:
    branches: main
  schedule:
    - cron: '0 16 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Set up JDK 17
        uses: actions/setup-java@main
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Build with Gradle
        uses: ihub-pub/bot@main
        with:
          run: build -x test

  test:
    if: ${{ github.event_name != 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@main
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Test with Gradle (fast)
        if: ${{ github.event_name != 'schedule' }}
        uses: ihub-pub/bot@main
        with:
          run: test -DiHubTest.failFast=true -Dfast.test=true -Porg.gradle.caching=false

      - name: Test with Gradle (all)
        if: ${{ github.event_name == 'schedule' }}
        uses: ihub-pub/bot@main
        with:
          run: test -DiHubTest.failFast=true -Porg.gradle.caching=false

      - name: Upload Coverage Reports
        if: ${{ github.event_name == 'schedule' && github.repository_owner == 'ihub-pub' }}
        run: |
          bash <(curl -s https://codecov.io/bash)

      - name: Upload Test Result
        if: ${{ failure() }}
        uses: actions/upload-artifact@main
        with:
          name: tests
          path: |
            */build/reports/tests
          retention-days: 1

  codacy:
    if: ${{ github.event_name == 'push' && github.repository_owner == 'ihub-pub' }}
    permissions:
      contents: read
      security-events: write
    name: Codacy Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          verbose: true
          output: results.sarif
          format: sarif
          gh-code-scanning-compat: true
          max-allowed-issues: 2147483647

      - name: Upload SARIF results file
        uses: github/codeql-action/upload-sarif@main
        with:
          sarif_file: results.sarif

  dependency-review:
    if: ${{ github.event_name == 'pull_request' && github.repository_owner == 'ihub-pub' }}
    permissions:
      contents: read
    name: Dependency Review Scan
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@main
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@main

  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: gradle/wrapper-validation-action@master
