name: Gradle Dependency Graph
on:
  schedule:
    - cron: '0 */6 * * *'
  push:
    branches: main

permissions:
  contents: read

jobs:
  gradle-action-detection:
    if: ${{ github.repository_owner == 'ihub-pub' }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # main
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0
        with:
          dependency-graph: generate-and-submit
          arguments: dependencies
